{{ define "main" }}
<style>
  .single__container {
    padding-left: 1rem;
    padding-right: 1rem; 
    max-width: 56rem; 
  }

  .single__inner_container {
    display: flex; 
    margin-bottom: 3rem; 
    flex-direction: column; 
    gap: 2rem; 

    @media (min-width: 768px) { 
      flex-direction: row; 
    }
  }

  .single__page_container {
    margin-top: 1.5rem; 

    @media (min-width: 768px) { 
      width: 66.666667%; 
    }
  }

  .single__page_title {
    font-size: 2rem;
    line-height: 2.5rem; 
    font-weight: 700; 
  }

  .single__page_desc {
    font-size: 1.25rem;
    line-height: 1.75rem; 
    color: #9CA3AF; 
  }

  .single__page_meta {
    display: flex; 
    gap: 1rem; 
    align-items: center; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #6B7280; 
  }

  .single__page_author_link:hover {
    text-decoration: underline; 
  }

  .single__page_tag_link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
    border-radius: 0.25rem; 
    color: #E5E7EB !important; 
    background-color: #5B21B6; 
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
  }
  .single__page_tag_link:hover {
    background-color: #a33fd9;
  }

  .single__page_date {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #6B7280; 
  }

  .single__page_md {
    max-width: none; 
  }

  .prose li {
    margin-bottom: 0.5rem;
  }

  .prose a {
    color: #b792f3; 
    text-decoration: underline; 
  }

  .prose a:hover {
    color: #a33fd9;
  }

  .prose table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .prose th,
  .prose td {
    border: 1px solid #4B5563;
    padding: 0.5rem;
    color: #E5E7EB;
  }

  .prose th {
    background-color: #1F2937;
    text-align: left;
    font-weight: 600;
  }

  .prose tr:nth-child(2n) {
    background-color: #374151;
  }

  .prose tr:nth-child(2n + 1) {
    background-color: #4B5563;
  }

  .prose tr:hover {
    background-color: #6B7280;
  }

  .prose th:first-child,
  .prose td:first-child {
    padding-left: 1rem;
  }

  .prose th:last-child,
  .prose td:last-child {
    padding-right: 1rem;
  }
</style>

<div class="single__container">
  <div class="single__inner_container">
    <div class="single__page_container">
      <h1 class="single__page_title">{{.Title}}</h1>
      <p class="single__page_desc">{{.Params.description}}</p>
      <div class="single__page_meta">
        <span>
          {{ range (.GetTerms "authors")}}
            <a href="{{.Permalink}}" class="single__page_author_link">{{ .Name }}</a>
          {{end}}
        </span>
        {{ range (.GetTerms "tags")}}
          <a
            href="{{.Permalink}}"
            class="single__page_tag_link"
          >{{ .Name }}</a>
        {{end}}
      </div>
      <time class="single__page_date">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
  </div>
  <div class="prose single__page_md">{{ .Content }}</div>
</div>
{{ end }}
