{{ define "main" }}
<div class="max-w-4xl mx-auto px-4">
  <div class="flex flex-col md:flex-row gap-8 mb-12">
    <div class="md:w-2/3 space-y-6">
      <h1 class="text-4xl font-bold">{{.Title}}</h1>
      <p class="text-xl text-gray-400">{{.Params.description}}</p>
      <div class="flex items-center gap-4 text-sm text-gray-500">
        <span>
          {{ range (.GetTerms "authors")}}
            <a href="{{.Permalink}}" class="hover:underline">{{ .Name }}</a>
          {{end}}
        </span>
        {{ range (.GetTerms "tags")}}
          <a
            href="{{.Permalink}}"
            class="px-3 py-1 bg-purple-800 text-gray-200 rounded hover:bg-purple-300 transition-colors"
          >{{ .Name }}</a>
        {{end}}
      </div>
      <time class="text-sm text-gray-500">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
  </div>
  <div class="prose max-w-none markdown">{{ .Content }}</div>
</div>
{{ end }}
