{{ define "main" }} 
  <style>
    .tags__container {
      display: flex; 
      flex-wrap: wrap; 
      gap: 0.5rem; 
    }

    .tags__link {
      display: inline-block; 
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; 
      padding-left: 0.75rem;
      padding-right: 0.75rem; 
      border-radius: 0.25rem; 
      color: #E5E7EB; 
      background-color: #5B21B6; 
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms; 
    }
    .tags__link:hover {
      background-color: #a33fd9;
    }

    .tags__count {
      color: #9CA3AF; 
    }
  </style>

  {{ if eq .RelPermalink "/franotes/tags/" }}
    <div class="tags__container">
      {{ range $.Site.Taxonomies.tags.ByCount }}
      <a
        href="{{ relURL "tags" }}/{{ .Name }}"
        class="tags__link"
      >
        {{ .Name }} <small class="tags__count">({{.Count}})</small>
      </a>
      {{end}}
    </div>
  {{ else }}
    {{ partial "list.html" . }}
  {{end}} 
{{ end }}
